.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding-block: 15px;
  
  }
  .active{
    color: blue;
  }
  .NavBar a{
    color: white;
    text-decoration: none;
  }
  .NavBar a:hover{
    color: blue;
    transition: 0.4s;
  }
