.views-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url("../Img/review-bgc.jpg");
    padding: 40px 0;
}
.view-block{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 70%;
}
.view-block_name, .view-block_info{
    padding: 8px 10px;
    text-align: center;
}
.view-block_name{
    background-color: rgb(177, 255, 225);
}
.view-block_info{
    background-color: rgb(203, 194, 255);
}
.no-reviews-mes{
    margin: 0;

    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}